.card {
  position: relative;
  border-radius: 30px;
  background: radial-gradient(
      900px 260px at 50% 0%,
      rgba(255, 255, 255, 0.06),
      rgba(35, 35, 35, 0.69)
    ),
    var(--bg-secondary);
  border: 1px solid rgba(255, 255, 255, 0.07);
  overflow: hidden;
  height: 350px;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.25);
  width: 270px;
  transition: 0.4s;
  color: var(--text-primary);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 4;
  padding: 5px 14px;
  border-radius: 9px;
  border: none;
  background: var(--bestSellerBg);
  color: var(--bestSellerText);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.imgWrap {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.addBtn {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 999px;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transform: scale(1);
  transition: transform 120ms ease, opacity 120ms ease, background 120ms ease;
  z-index: 3;
  color: #fff;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.addBtn:active {
  transform: scale(0.9);
  opacity: 0.9;
}

.img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: cover;
  filter: drop-shadow(0 16px 18px rgba(0, 0, 0, 0.45));
}

.body {
  padding: 0 14px 14px;
  padding-bottom: 100px;
}

.title {
  font-size: 15px;
  font-weight: 900;
  color: var(--text-primary);
}

.desc {
  font-size: 11px;
  line-height: 1.35;
  color: var(--text-secondary);
  opacity: 0.9;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price {
  font-weight: 700;
  color: var(--highlight);
  font-size: 16px;
}

.minPrice {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.35);
  font-size: 12px;
  text-decoration: line-through;
}

.button {
  height: 30px;
  padding: 0px 30px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.18);
  color: var(--text-primary);
  cursor: pointer;
  font-size: 11px;
  font-weight: 800;
}
