.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.main {
  flex: 1;  
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  color: var(--text-primary);
}
