.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-primary);
}

.main {
  flex: 1;  
  width: calc(100% - 30px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  color: var(--text-primary);
  overflow-y: auto;
}
